<main role="main" class="inner cover">
    <h1 class="cover-heading">Aplicação Vendas</h1>
    <p class="lead"> Esta aplicação foi desenvolvida para controle de vendas, vendedores e comissões de vendas.</p>
    <p class="lead">
        <a href="https://github.com/jcf633/AplicacaoVendas" class="btn btn-lg btn-secondary">Código Fonte</a>
    </p>
</main>