{% extends 'Base/base.html.twig' %}

{% block corpo %}
    <form id="form_cadastro_venda">
        <div class="form-group">
            <label for="form_venda_vendedor">Vendedor</label>
            <select class="form-control" id="form_venda_vendedor">
                <option value="0" selected disabled>Selecione um vendedor</option>
                {% for vendedor in vendedores %}
                    <option value="{{ vendedor.id }}">{{ vendedor.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="form_venda_valor">Valor</label>
            <input type="number" class="form-control" id="form_venda_valor" placeholder="Valor da venda">
        </div>
        <div>
            <button id="salvar_venda" class="btn btn-primary">Cadastrar venda</button>
        </div>
    </form>
{% endblock %}